<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layouts :: header"></head>

    <body>
        
        <nav th:replace="layouts :: navbar"></nav>

        <br>

        <div class="container">
            
            <form th:action="@{/ratings/save}" th:object="${rating}" method="POST">

                <input type="hidden" th:field="*{videoGame}" />

                <input type="hidden" th:field="*{user}" />

                <div class="form-group row">
                    <label>Score (1-10):</label>
                    <input type="number" th:field="*{score}" min="1" max="10" required>
                    <span style="color:red" th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></span>
                </div>
            
                <div class="form-group row">
                    <label>Review:</label>
                    <textarea th:field="*{reviewText}" placeholder="Write your review here..."></textarea>
                    <span style="color:red" th:if="${#fields.hasErrors('reviewText')}" th:errors="*{reviewText}"></span>
                </div>
            
                <button class="btn btn-info col-2" type="submit">Submit Rating</button>
            
            </form>
            
        </div>

    </body>

</html>