<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts :: head"></head>
	
	<body>
	
		<nav th:replace="layouts :: navbar"></nav>

			<div class="container">				
				<br>
				<h3>Welcome!</h3>
				<hr>

				<p>GameRate is a web-based video game rating platform, similar to IMDB or Letterboxd but for video games.
					The application allows users to rate, review, and discover video games while interacting with other users through profile sharing.</p>
				
					<ul>
						<li>Justin Tom</li>
						<li>Angel Bravo</li>
						<li>Matthew Rivera</li>
					</ul>
			</div>

	</body>
	
</html>