<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts :: head"></head>

	<body>

		<nav th:replace="layouts :: navbar"></nav>

		<div class="container">

			<br>
			<h3>Users</h3>
			<hr>

			<br>

			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Users</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="profile : ${profiles}">
						<td>
							<a th:href="@{/profiles/{id}(id=${profile.userId})}" th:text="${profile.userName}"></a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

	</body>

</html>